<article class="message">
    <div class="message-header">
        <p>Burgers To Devour</p>
    </div>
    <div class="message-body" id="todevour">
        <ul>
            {{#each burger}}
            {{!-- goes through each line of the db and only shows if devour = 0 --}}
            {{#unless this.devour}}
            <li>
                {{this.burger_name}}
                <button data-id="{{this.id}}" class="devourBtn">Devour</button>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
</article>
<article class="message">
    <div class="message-header">
        <p>Burgers Devoured</p>
    </div>
    <div class="message-body" id="todevour">
        <ul>
            {{#each burger}}
            {{!-- goes through each line of the db and only shows if devour = 1 --}}
            {{#if this.devour}}
            <li>
                {{this.burger_name}}
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</article>
<section>
    <form class="create-form">
        <div class="field is-grouped">
            <p class="control">
                <input class="input" id="burger" type="text" placeholder="Burger name">
            </p>
            <p class="control">
                <button type="submit" class="button addBtn is-info">
                    Add
                </button>
            </p>
        </div>
    </form>
</section>