<section class="section">
    <div class="container has-background-info" id="todevour">
        <h1 class="title">
            Burgers to devour
        </h1>
        <p class="subtitle">
            <ul>
                {{#each burger}}
                {{!-- goes through each line of the db and only shows if devour = 0 --}}
                {{#unless this.devour}}
                <li>
                    {{this.burger_name}}
                    <button data-id="{{this.id}}" class="devourBtn">Devour</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </p>
    </div>
</section>
<section class="section">
    <div class="container has-background-success" id="devoured">
        <h1 class="title">
            Devoured burgers
        </h1>
        <p class="subtitle">
            <ul>
                {{#each burger}}
                {{!-- goes through each line of the db and only shows if devour = 1 --}}
                {{#if this.devour}}
                <li>
                    {{this.burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </p>
    </div>
</section>
<section>
    <form class="create-form">
        <div class="field is-grouped">
            <p class="control">
                <input class="input" id="burger" type="text" placeholder="Burger name">
            </p>
            <p class="control">
                <button type="submit" class="button addBtn is-info">
                    Add
                </button>
            </p>
        </div>
    </form>
</section>